<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.goods.repository.GoodsMapper">

    <select id="selectPageByType" resultType="com.wu.common.domain.Goods">
        select * from onlinemallcake.goods g
        left join onlinemallcake.type t
        on g.type_id = t.id
        where type_id = #{typeId}
        limit #{from}, #{eachPageSize}
    </select>

    <select id="selectPageLike" resultType="com.wu.common.domain.Goods">
        select * from onlinemallcake.goods
        where name like concat('%',#{goodsName,jdbcType=VARCHAR},'%')
        limit #{from}, #{eachPageSize}
    </select>

    <select id="selectAllSizeLike" resultType="java.lang.Integer">
        select count(*) from onlinemallcake.goods
        where name like concat('%',#{goodsName,jdbcType=VARCHAR},'%')
    </select>

    <select id="selectModelByPrimaryKey" resultType="com.wu.common.model.GoodsViewModel">
        select g.id,g.name,g.image1,g.image2,g.price,g.intro,g.stock,t.name from onlinemallcake.goods g, onlinemallcake.type t
        where g.type_id = t.id
        and g.id = #{goodsId}
    </select>

    <select id="selectModelPage" resultType="com.wu.common.model.GoodsViewModel">
        select g.id,g.name,g.image1,g.image2,g.price,g.intro,g.stock,t.name from onlinemallcake.goods g, onlinemallcake.type t
        where g.type_id = t.id
        limit #{from},#{eachPageSize}
    </select>

    <select id="selectModelPageLike" resultType="com.wu.common.model.GoodsViewModel">
        select g.id,g.name,g.image1,g.image2,g.price,g.intro,g.stock,t.name from onlinemallcake.goods g, onlinemallcake.type t
        where g.type_id = t.id
        and g.name like concat('%',#{goodsName,jdbcType=VARCHAR},'%')
        limit #{from},#{eachPageSize}
    </select>

    <select id="selectModelPageByType" resultType="com.wu.common.model.GoodsViewModel">
        select g.id,g.name,g.image1,g.image2,g.price,g.intro,g.stock,t.name from onlinemallcake.goods g, onlinemallcake.type t
        where g.type_id = t.id
        and type_id = #{typeId}
        limit #{from},#{eachPageSize}
    </select>


</mapper>