<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.user.repository.OrderMapper">
    <insert id="initOrder" parameterType="order">
        insert into onlinemallcake.`order`(`total`, `amount`, `status`, `pay_type`, `name`, `phone`, `address`, `datetime`, `user_id`)
        VALUES(#{total}, #{amount}, #{status}, #{payType}, #{name}, #{phone}, #{address}, #{datetime} , #{userId})
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>